<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1>PEI Developers</h1>
            </div>
            <div class="col-sm-4">
                <ul class="social-link">
                    <li class="social-link__item meetup"><a href="https://www.meetup.com/PEI-Developers" class="social-link__link">Meetup</a></li>
                    <li class="social-link__item twitter"><a href="https://twitter.com/peidevs" class="social-link__link">Twitter</a></li>
                    <li class="social-link__item github"><a href="https://github.com/{{ site.github_username }}" class="social-link__link">GitHub</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
