<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1>PEI Developers</h1>
            </div>
            <div class="col-sm-4">
                <ul class="social-link">
                    <li><a href="https://www.meetup.com/PEI-Developers" class="social-link__link meetup">Meetup</a></li>
                    <li><a href="https://twitter.com/peidevs" class="social-link__link twitter">Twitter</a></li>
                    <li><a href="https://github.com/{{ site.github_username }}" class="social-link__link github">GitHub</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
